* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Borel', cursive;
    height: 100vh;
    margin: 0;
    background-image: url('https://i.imgur.com/SaNFb5v.png');
    background-size: cover;
    background-position: center;
}

/* p {
    background-image: url('https://i.imgur.com/hsoNkkd.png');
} */

h1 {
    color: rgb(250, 137, 25);
    font-size: 8vmin;
    letter-spacing: 1vmin;
    margin-bottom: -2vmin;
    margin-top: 1vmin;
    text-shadow: 2px 2px #abaaaa;
}

h2 {
    color: rgb(250, 203, 153);
    font-size: 5vmin;
    margin-top: -4vmin;
    margin-bottom: -2vmin;
    text-shadow: 2px 2px #ffa136;
}

section {
    display: grid;
    grid-template-columns: 200px 500px 200px;
    margin-top: 3vmin;
    margin-bottom: 2vmin;
}

#message {
    text-align: center;
    font-size: 3vmin;
    color: rgb(140, 140, 140);
}

#score {
    text-align: left;
    color: white;
    border: 0.1vmin solid #12CDD4;
    background-color: #12CDD4;
    border-radius: 2vmin;
    font-size: 2vmin;
    padding: 1vmin 0 0 1vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#timer {
    text-align: left;
    color: grey;
    border: 0.1vmin rgb(243, 243, 63);
    background-color: rgb(243, 243, 63);
    border-radius: 2vmin;
    font-size: 2vmin;
    padding: 1vmin 0 0 1vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tiles {
    display: grid;
    grid-template-columns: repeat(6, 12vmin);
    grid-template-rows: repeat(5, 12vmin);
    gap: 3vmin;
    margin-top: 1vmin;
}

#tiles>div {
    transform: scale(0.7);
    transition: transform 150ms ease-in;
    background-color: rgb(225, 225, 225);
    margin: -3vmin;
    color: white;
    font-size: 18vmin;
    text-align: center;
    line-height: 1.8;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tiles>div:hover {
    transform: scale(0.8);
    transition: transform 150ms ease-in;
    background-color: rgb(182, 182, 182);
}

button {
    color: white;
    border: 0.1vmin solid rgb(157, 244, 64);
    background-color: rgb(157, 244, 64);
    border-radius: 2vmin;
    font-size: 3vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    font-family: 'Raleway', sans-serif;
    padding: 1vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    color: greenyellow;
    background-color: #12CDD4;
    border: 0.1vmin solid rgb(31, 238, 220);
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 500px) {
    section {
        display: grid;
        grid-template-columns: 75px 200px 75px;
    }
}